body {
      <p color:black; background-color:red;>
      </p>    
}

#intro {
    color:orange;
    background-color:green;
}
#x {
        color:purple;
    background-color:white;
}
#f {
    background-color:white;
}
#n {
    background-color:white;
}
